/**
 * "themed:" classes should define colors only!
 * Themes could theoretically be done with tailwind, but 'dark:' was not an option
 * and it was too hard to come up with meaningful names like 'primary' etc.
 * If someone can handle it with Tailwind variables, please do!
 */

 /**
 * Color names proposed by a person
 * for whom the difference between purple and blue
 * is as inconceivable as quantum physics
 */
$white-milk: #FFFDF4;
$white-ecru: #E5EAEE;
$white-chocolate: #EBE7DD;

$gray-100: #999187;
$gray-300: #7E9B9D;
$gray-400: #7B9799;
$gray-500: #324142;
$gray-700: #212B2E;
$gray-900: #1C3D42;

$green-mint: #F4FDF6;
$green-aqua: #7ED8C2;
$green-blue: #06B595;
$green-pear: #C8D72B;
$green: #55A803;

$purple-200: #A654E7;
$purple-300: #9477F5;
$purple-400: #9781EE;
$purple-700: #8C62FF;
$purple-800: #6F61D7;
$purple-900: #6759CC;
$purple-1000: #6051CD;

$orange-100: #E8AB43;
$orange-200: #E7B65D;
$orange-300: #E5B253;
$orange-400: #EEAF43;
$orange-500: #E3AD49;
$orange-700: #DFA849;

$red-200: #F48A72;
$red-600: #CB5733;
$red-800: #AF5F14;

/* LIGHT */
body:not(.dark-mode) {
  color: $gray-900;
  background-color: $white-milk;

  @mixin purple-button {
    background-color: $purple-900;

    &:hover {
      background-color: $purple-1000;
    }

    &:active, &:disabled {
      background-color: $purple-800;
    }
  }

  .themed\:welcome {
    &__connect-button {
      @include purple-button;
      color: $white-milk;
    }
  }

  .themed\:connect-button {
    color: $gray-100;

    &__bull {
      color: $green;
    }
  }

  .themed\:connect-modal {
    &__header {
      color: $green;
    }
  }

  .themed\:nav {
    &__stake.active {
      background-color: $purple-900;
    }

    &__unstake.active {
      background-color: $orange-300;
    }
  }

  .themed\:swap-form {
    &__box {
      background-color: $white-chocolate;
    }

    &__input {
      background-color: $green-mint;
    }

    &__error-text {
      color: $red-600;
    }
  }

  .themed\:balance-tools {
    &__balance {
      color: $gray-300;
    }
  }

  .themed\:receive-summary {
    &__stake-info {
      color: $green-blue;
    }

    &__unstake-info {
      color: $red-800;
    }
  }

  .themed\:submit-button {
    color: $white-milk;

    &--stcelo {
      @include purple-button;
    }

    &--celo {
      background-color: $orange-300;

      &:hover {
        background-color: $orange-500;
      }

      &:active, &:disabled {
        background-color: $orange-100;
      }
    }
  }

  .themed\:costs-summary {
    color: $gray-100;

    &__free-value {
      color: $green-blue;
    }
  }

  .themed\:pending-withdrawal {
    &__period {
      color: $gray-100;
    }
  }

  .themed\:footer {
    background-color: $white-chocolate;
  }
}

/* DARK */
body.dark-mode {
  color: $white-ecru;
  background-color: $gray-700;

  @mixin purple-button {
    background-color: $purple-400;

    &:hover {
      background-color: $purple-700;
    }

    &:active, &:disabled {
      background-color: $purple-300;
    }
  }

  .themed\:welcome {
    &__connect-button {
      @include purple-button;
      color: $gray-700;
    }
  }

  .themed\:connect-button {
    color: $gray-400;

    &__bull {
      color: $green;
    }
  }

  .themed\:connect-modal {
    &__header {
      color: $green;
    }

    &__content {
      color: $gray-900;
    }
  }

  .themed\:info-modal {
    color: $gray-900;
  }

  .themed\:nav {
    &__stake.active {
      background-color: $purple-200;
    }

    &__unstake.active {
      background-color: $orange-200;
    }
  }

  .themed\:swap-form {
    &__box {
      background-color: $gray-500;
    }

    &__input {
      background-color: $gray-700;
    }

    &__error-text {
      color: $red-200;
    }
  }

  .themed\:balance-tools {
    &__balance,
    &__max-button {
      color: $gray-400;
    }
  }

  .themed\:receive-summary {
    &__stake-info {
      color: $green-pear;
    }

    &__unstake-info {
      color: $green-aqua;
    }
  }

  .themed\:submit-button {
    color: $gray-700;

    &--stcelo {
      @include purple-button;
    }

    &--celo {
      background-color: $orange-200;

      &:hover {
        background-color: $orange-700;
      }

      &:active, &:disabled {
        background-color: $orange-400;
      }
    }
  }

  .themed\:costs-summary {
    color: $gray-400;

    &__free-value {
      color: $green-aqua;
    }
  }

  .themed\:pending-withdrawal {
    &__period {
      color: $gray-400;
    }
  }

  .themed\:footer {
    background-color: $gray-500;
  }
}
